@import url("fonts.googleapis.com/css?family=Merriweather");
 
body {
   margin: 50px;
   font-family: Merriweather;
   font-size: 150%;
   color:darkslategrey;
   background-color: lavender;
   text-align: center;
}

button {
   background-color: lightslategray;
   color: lavender;
   border:none;
   border-radius:10px;
   padding:10px;
   font-size: 20px;
   opacity: 0.9;
   transition: 0.3s;
}

button:hover {
   cursor:pointer;
   opacity:1;
   font-size: 22px;
}

input {
   padding: 7px;
   margin:5px;
   border-radius:10px;
   border: solid lightslategray;
}

input:focus {
   border: solid black;
}